<module>
  <rawname>telnyx_sms</rawname>
  <name>Telnyx SMS</name>
  <version>0.99.10</version>
  <publisher>Robert Nelson &lt;robert-telnyx-sms@nelson.house&gt;</publisher>
  <license>AGPLv3</license>
  <changelog>*0.99.0* Initial release</changelog>
  <category>Connectivity</category>
  <description>SMS handling using provider Telnyx</description>
  <menuitems>
    <telnyx_sms>Telnyx SMS</telnyx_sms>
  </menuitems>
  <supported>13.0</supported>
  <database>
    <table name="smsnumbers">
      <field name="ID" type="integer" primarykey="true" autoincrement="true"/>
      <field name="Phone" type="string" length="20"/>
      <key name="Phone" type="unique">
        <column name="Phone"/>
      </key>
    </table>
    <table name="smsextens">
      <field name="ID" type="integer" primarykey="true" autoincrement="true"/>
      <field name="Phone_ID" type="integer"/>
      <field name="Exten" type="string" length="10"/>
      <key name="UC_Phone_ID_Exten" type="unique">
        <column name="Phone_ID"/>
        <column name="Exten"/>
      </key>
      <!--
      <key name="FK_Phone_ID" type="foreign" foreigntable="smsnumbers" foreigncols="ID" options="">
        <column name="Phone_ID"/>
      </key>
      -->
    </table>
    <table name="smscid">
      <field name="Exten" type="string" length="10" primarykey="true"/>
      <field name="Phone_ID" type="integer"/>
      <!--
      <key name="FK_Phone_ID" type="foreign" foreigntable="smsnumbers" foreigncols="ID">
        <column name="Phone_ID"/>
      </key>
      -->
    </table>
    <table name="smsemail">
      <field name="Exten" type="string" length="10" primarykey="true"/>
      <field name="Email" type="string"/>
      <!--
      <key name="FK_Phone_ID" type="foreign" foreigntable="smsnumbers" foreigncols="ID">
        <column name="Phone_ID"/>
      </key>
      -->
    </table>
  </database>
</module>
